doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      var cms = !{testObj}
  body
    div(id='app')
    script(src="javascripts/reactapp/react.bundle.js")
