doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      var cms = {winMessage: "this is a window message"}
    script(type='text/javascript').
      var a = !{testObj}
  body
    div(id='app')
    script(src="javascripts/reactapp/react.bundle.js")
